body{
    background-color: #DAC1AB;
}

header{
    background-color: #E7DDD4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* Logo image */
#logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Garamond";
    color: #633100;
}

h1{
    font-size: 36pt;
    display: inline;
}

h3{
    font-size: 22pt;
}

p{
    font-size: 13pt;
}

main{
    background-color: #E7DDD4;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

aside{
    background-color: #E7DDD4;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

footer{
    background-color: #9E816F;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* Navigation bar */
nav li{
    border: 2px solid white;
    background-color: #9E816F;
    text-transform:uppercase;
    list-style-type: none;
    padding: 16px;
    float: left;
    width: 15%;
    font-family: "Garamond";
}

nav li a{
    color: white;
    text-decoration: nones;
}

nav li:hover{
    background-color: #DAC1AB ;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.active{
    background-color: #633100;
}

/* Event Calendar*/
table{
    font-family: "Garamond";
    border-collapse: collapse;
}

table td, table th{
    border-width: 2px;
    border: solid;
    border-color: #F0F0F0;
}

table tr:nth-child(even){
    background-color: #F2F2F2;
}

table tr:hover{
    background-color: #DAC1AB;
}

table th{
    background-color: #9E816F;
    color: #FFFFFF;
}

/* Contact us form and Twitter content */
#left-col{
    float: left;
    width: 70%;
    
    
}

#right-col{
    float: right;

}
    
fieldset{
    font-family: "Garamond";
    color: #633100; 
}

input{
    background-color:  #E7DDD4;
    border-color: black;
    margin: 5px;
    height:22px;
}

/* Photo slide show */
div.carousel-item{
    width: 100%;
    height: 700px
}

/* Image gallery */
.gallery-img{
    width: 100%;
    height: 250px;
    filter: blur(3px);
}

#img-gallery{
    padding-top: 10px;
}

#img-gallery .row{
    margin-bottom: 10px;
}

/* Login */
#login{
    float: right;
    margin-top: 10px;
}
