body{
    background-color: #DAC1AB;
}

header{
    background-color: #E7DDD4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* Logo image */
#logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

h1,h2,h3,h4,h5,h6,p,li{
    font-family: "Garamond";
    color: #633100;
}

h1{
    font-size: 36pt;
    display: inline;
}

h3{
    font-size: 22pt;
}

p,li{
    font-size: 13pt;
}

main{
    background-color: #E7DDD4;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

aside{
    background-color: #E7DDD4;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.news{
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    margin-right: 10px;
}


footer{
    background-color: #9E816F;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* Navigation bar */
nav li{
    border: 2px solid white;
    background-color: #9E816F;
    text-transform: uppercase;
    list-style-type: none;
    padding: 16px;
    float: left;
    width: 14.2%;
    font-family: "Garamond";
}

nav li a{
    color: white;
    text-decoration: nones;
}

nav li:hover{
    background-color: #DAC1AB ;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.active{
    background-color: #633100;
}

/* Event Calendar*/
table{
    font-family: "Garamond";
    border-collapse: collapse;
}

table td, table th{
    border-width: 2px;
    border: solid;
    border-color: #F0F0F0;
    width: 200px;
    font-size: 10pt;
    padding: 3px;
}

table tr:nth-child(even){
    background-color: #F2F2F2;
}

table tr:hover{
    background-color: #DAC1AB;
}

table th{
    background-color: #9E816F;
    color: #FFFFFF;
    /*Horizontally and vertically centred*/
    text-align: center;
    padding: 5px;
}

/* Contact us form and Twitter content */
#left-col{
    float: left;
    width: 70%;
}

#right-col{
   float: right;
   width: 30%;
}
    
fieldset,form{
    font-family: "Garamond";
    color: #633100; 
}

input{
    background-color:  #E7DDD4;
    border-color: black;
    margin: 5px;
    height:22px;
}

/* Photo slide show */
div.carousel-item{
    width: 100%;
    height: 700px
}

/* Image gallery */
.gallery-img{
    width: 100%;
    height: 250px;
    filter: blur(3px);
}

#img-gallery{
    padding-top: 10px;
}

#img-gallery .row{
    margin-bottom: 10px;
}

/* Login */
#login{
    float: right;
    margin-top: 10px;
}

/* yoga_resources page blog layout */
/*Left column*/
.leftcolumn{
    float: left;
    width: 75%;
}

/*Right column*/
.rightcolumn{
    float: left;
    width:25%;
    padding-left: 20px;;
}

/* Images*/
.img{
    width: 100%;
    padding: 20px;
}

/*Adding  card effect*/
.card{
    background-color: #DAC1AB;
    padding: 20px;
    margin-top:  20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Adaption page, adopt button*/
#adopt_button{
    background-color: #633100;
    border-color: #633100;
    color: #FFFFFF;
    font-family: "Garamond";
}

/* Adoptation cards */
#adopt-card{
    width: 18rem; 
    margin-left: 30px;
}

#adopt-card:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


